In [242]:
import pandas as pd
import csv
from collections import defaultdict
from sklearn.preprocessing import MinMaxScaler
import networkx as nx

In [243]:
nba = pd.read_csv("all_seasons.csv")

In [244]:
# Clean year to only have rookie data
# Extract the first four characters of the 'season' column, convert to integer
nba['season_year'] = nba['season'].str[:4].astype(int)

# Replace "undrafted" with 0 in the 'draft_year' column
nba['draft_year'] = nba['draft_year'].replace('Undrafted', 0)
nba['draft_year'] = nba['draft_year'].astype(int)

In [245]:
# Filter the DataFrame
rookies = nba[nba['draft_year'] == nba['season_year']]
rookies

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season,season_year
0,0,Randy Livingston,HOU,22.0,193.04,94.800728,Louisiana State,USA,1996,2,...,1.5,2.4,0.3,0.042,0.071,0.169,0.487,0.248,1996-97,1996
38,38,Erick Dampier,IND,21.0,210.82,120.201880,Mississippi State,USA,1996,1,...,4.1,0.6,-2.0,0.107,0.216,0.218,0.451,0.074,1996-97,1996
50,50,Jerome Williams,DET,24.0,205.74,93.439952,Georgetown,USA,1996,1,...,1.5,0.2,3.0,0.144,0.182,0.181,0.419,0.071,1996-97,1996
67,67,John Wallace,NYK,23.0,205.74,102.058200,Syracuse,USA,1996,1,...,2.3,0.5,2.7,0.080,0.148,0.204,0.571,0.081,1996-97,1996
72,72,Jermaine O'Neal,POR,18.0,210.82,102.511792,NaN,USA,1996,1,...,2.8,0.2,1.3,0.099,0.198,0.199,0.494,0.030,1996-97,1996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12793,12793,Jake LaRavia,MEM,21.0,200.66,106.594120,Wake Forest,USA,2022,1,...,1.8,0.6,-7.6,0.044,0.100,0.117,0.531,0.068,2022-23,2022
12814,12814,Josh Minott,MIN,20.0,203.20,92.986360,Memphis,USA,2022,2,...,1.7,0.3,10.4,0.054,0.194,0.176,0.582,0.065,2022-23,2022
12819,12819,Johnny Davis,WAS,21.0,193.04,88.450440,Wisconsin,USA,2022,1,...,2.3,1.0,-6.2,0.020,0.125,0.192,0.446,0.100,2022-23,2022
12824,12824,Jaylin Williams,OKC,21.0,205.74,108.862080,Arkansas,USA,2022,2,...,4.9,1.6,-4.6,0.045,0.230,0.133,0.559,0.109,2022-23,2022
12832,12832,Jeremy Sochan,SAS,20.0,203.20,104.326160,Baylor,Poland,2022,1,...,5.3,2.5,-7.0,0.060,0.140,0.195,0.509,0.132,2022-23,2022

In [246]:
rookies = rookies.dropna()
rookies.isna().sum()

Unnamed: 0           0
player_name          0
team_abbreviation    0
age                  0
player_height        0
player_weight        0
college              0
country              0
draft_year           0
draft_round          0
draft_number         0
gp                   0
pts                  0
reb                  0
ast                  0
net_rating           0
oreb_pct             0
dreb_pct             0
usg_pct              0
ts_pct               0
ast_pct              0
season               0
season_year          0
dtype: int64

In [247]:
def create_network_with_players_and_points(data):
    # Create a dictionary to store the adjacency list
    adjacency_list = defaultdict(list)

    # Iterate over each row in the data
    for index, row in data.iterrows():
        college = row['college']
        team = row['team_abbreviation']
        player_name = row['player_name']
        draft_year = row['draft_year']
        score = row["composite_performance_score"]

        # Append the tuple (team, player_name, player_points) to the college's list
        adjacency_list[college].append((team, player_name, draft_year, score))

    return adjacency_list

In [248]:
# Replace negative net_rating values with 0
rookies['net_rating'] = rookies['net_rating'].apply(lambda x: max(x, 0))

/var/folders/n9/9l6xl7jx0zn2y18m67sjcpk40000gn/T/ipykernel_13007/291436586.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rookies['net_rating'] = rookies['net_rating'].apply(lambda x: max(x, 0))

In [249]:
rookies.isnull().sum()

Unnamed: 0           0
player_name          0
team_abbreviation    0
age                  0
player_height        0
player_weight        0
college              0
country              0
draft_year           0
draft_round          0
draft_number         0
gp                   0
pts                  0
reb                  0
ast                  0
net_rating           0
oreb_pct             0
dreb_pct             0
usg_pct              0
ts_pct               0
ast_pct              0
season               0
season_year          0
dtype: int64

In [250]:
# Ensure all values are numeric, filling NaNs with zero or an appropriate value if necessary
rookies.fillna(0, inplace=True)  # Or choose a strategy like rookies.fillna(rookies.mean(), inplace=True)

# Select only the columns to normalize
numeric_cols = ["pts", "reb", "ast", "net_rating", "ts_pct", "usg_pct"]
scaler = MinMaxScaler()

# Normalize the selected columns
normalized_vals = scaler.fit_transform(rookies[numeric_cols])
normalized_df = pd.DataFrame(normalized_vals, columns=numeric_cols)

# Ensure indices align between rookies and normalized_df
normalized_df.index = rookies.index

# Create a composite score by averaging the normalized values
rookies['composite_performance_score'] = normalized_df.mean(axis=1)

/var/folders/n9/9l6xl7jx0zn2y18m67sjcpk40000gn/T/ipykernel_13007/1311293773.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rookies.fillna(0, inplace=True)  # Or choose a strategy like rookies.fillna(rookies.mean(), inplace=True)
/var/folders/n9/9l6xl7jx0zn2y18m67sjcpk40000gn/T/ipykernel_13007/1311293773.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rookies['composite_performance_score'] = normalized_df.mean(axis=1)

In [251]:
rookies.to_csv("rookies.csv")

In [252]:
adj_list = create_network_with_players_and_points(rookies)

In [253]:
with open('adj_list.csv', 'w') as csv_file:
    writer = csv.writer(csv_file)
    for key, value in adj_list.items():
       writer.writerow([key, value])

In [254]:
def get_all_nodes_with_connections(adjacency_list):
    # Create a dictionary to count connections for colleges only
    college_connection_counts = defaultdict(int)

    # Iterate over each college in the adjacency list
    for college, connections in adjacency_list.items():
        # Count each player connection for the college
        college_connection_counts[college] += len(connections)

    # Sort the colleges by the number of connections in descending order
    sorted_college_connections = sorted(college_connection_counts.items(), key=lambda x: x[1], reverse=True)

    return sorted_college_connections

In [255]:
# Get the list of all nodes with their connections
sorted_nodes_with_connections = get_all_nodes_with_connections(adj_list)
for node, count in sorted_nodes_with_connections:
    print(f"'{node}': {count} connections")

'Kentucky': 54 connections
'Duke': 47 connections
'Arizona': 34 connections
'UCLA': 33 connections
'Kansas': 32 connections
'North Carolina': 31 connections
'Syracuse': 22 connections
'Connecticut': 21 connections
'Michigan State': 19 connections
'Michigan': 19 connections
'Maryland': 19 connections
'Villanova': 18 connections
'Washington': 18 connections
'Florida State': 17 connections
'Texas': 17 connections
'Louisville': 16 connections
'Florida': 16 connections
'Louisiana State': 15 connections
'Memphis': 15 connections
'Stanford': 15 connections
'Indiana': 14 connections
'Gonzaga': 14 connections
'Georgia Tech': 13 connections
'Southern California': 13 connections
'Oregon': 13 connections
'Tennessee': 12 connections
'Iowa State': 12 connections
'Georgetown': 11 connections
'Baylor': 11 connections
'Alabama': 10 connections
'Marquette': 10 connections
'Ohio State': 10 connections
'Vanderbilt': 10 connections
'Virginia': 10 connections
'California': 9 connections
'Cincinnati': 9 connections
'Purdue': 9 connections
'Illinois': 9 connections
'Georgia': 8 connections
'Utah': 8 connections
'Wake Forest': 8 connections
'Colorado': 8 connections
'Notre Dame': 8 connections
'Auburn': 8 connections
'Oklahoma State': 8 connections
'Arkansas': 8 connections
'Texas Tech': 7 connections
'North Carolina State': 7 connections
'Providence': 7 connections
'Minnesota': 7 connections
'Fresno State': 7 connections
'Nevada': 7 connections
'Mississippi State': 6 connections
'New Mexico': 6 connections
'Nevada-Las Vegas': 6 connections
'Pittsburgh': 6 connections
'Xavier': 6 connections
'Missouri': 6 connections
'Arizona State': 6 connections
'Boston College': 6 connections
'Wisconsin': 6 connections
'St. John's (NY)': 5 connections
'Iowa': 5 connections
'Creighton': 5 connections
'Oklahoma': 5 connections
'DePaul': 5 connections
'Texas A&M': 5 connections
'Western Kentucky': 4 connections
'Murray State': 4 connections
'Washington State': 4 connections
'College of Charleston': 4 connections
'Miami (FL)': 4 connections
'Seton Hall': 4 connections
'Southern Methodist': 4 connections
'West Virginia': 4 connections
'Virginia Commonwealth': 4 connections
'San Diego State': 4 connections
'Miami': 4 connections
'Texas-Austin': 4 connections
'Massachusetts': 3 connections
'Rhode Island': 3 connections
'South Carolina': 3 connections
'Nebraska': 3 connections
'Clemson': 3 connections
'Pepperdine': 3 connections
'Houston': 3 connections
'Brigham Young': 3 connections
'Saint Joseph's': 3 connections
'Kansas State': 3 connections
'Santa Clara': 2 connections
'Bradley': 2 connections
'Bowling Green': 2 connections
'Austin Peay': 2 connections
'Tulane': 2 connections
'Oregon State': 2 connections
'Valparaiso': 2 connections
'Toledo': 2 connections
'Marshall': 2 connections
'Detroit Mercy': 2 connections
'Central Florida': 2 connections
'Louisiana-Lafayette': 2 connections
'Rutgers': 2 connections
'South Florida': 2 connections
'Temple': 2 connections
'Colorado State': 2 connections
'Butler': 2 connections
'Hofstra': 2 connections
'Weber State': 2 connections
'Wichita State': 2 connections
'Wyoming': 2 connections
'USC': 2 connections
'Utah State': 2 connections
'Arkansas-Little Rock': 1 connections
'Wright State': 1 connections
'Drexel': 1 connections
'Central State (OH)': 1 connections
'West Florida': 1 connections
'San Jose State': 1 connections
'Colgate': 1 connections
'Cal State-Bakersfield': 1 connections
'Long Beach State': 1 connections
'Tennessee-Chattanooga': 1 connections
'Ball State': 1 connections
'Florida A&M': 1 connections
'Pacific': 1 connections
'Saint Louis': 1 connections
'Tulsa': 1 connections
'Texas State': 1 connections
'Miami (OH)': 1 connections
'Penn State': 1 connections
'Old Dominion': 1 connections
'Barton Community College': 1 connections
'Northwestern': 1 connections
'Augsburg': 1 connections
'Louisiana-Monroe': 1 connections
'Northern Arizona': 1 connections
'North Carolina-Charlotte': 1 connections
'Northwest Florida State': 1 connections
'La Salle': 1 connections
'Northeast Mississippi Community College': 1 connections
'Shaw': 1 connections
'Central Michigan': 1 connections
'Ohio': 1 connections
'North Dakota': 1 connections
'Cal State-Fullerton': 1 connections
'Western Carolina': 1 connections
'Manhattan': 1 connections
'Mississippi': 1 connections
'Southeastern Illinois': 1 connections
'Yonsei (KOR)': 1 connections
'Walsh': 1 connections
'Louisiana Tech': 1 connections
'Eastern Washington': 1 connections
'Rice': 1 connections
'Rider': 1 connections
'Indiana Purdue-Indianapolis': 1 connections
'Alabama-Birmingham': 1 connections
'Midland': 1 connections
'Saint Mary's (CA)': 1 connections
'Davidson': 1 connections
'Tennessee-Martin': 1 connections
'Le Moyne': 1 connections
'Texas-El Paso': 1 connections
'Richmond': 1 connections
'Morehead State': 1 connections
'Oakland': 1 connections
'Northern Illinois': 1 connections
'Cleveland State': 1 connections
'St. Bonaventure': 1 connections
'California-Santa Barbara': 1 connections
'Tennessee Tech': 1 connections
'Norfolk State': 1 connections
'Lehigh': 1 connections
'North Texas': 1 connections
'South Dakota State': 1 connections
'Bucknell': 1 connections
'UNLV': 1 connections
'Georgia State': 1 connections
'New Mexico State': 1 connections
'University of California, Berkeley': 1 connections
'University of Colorado Boulder': 1 connections
'Missouri State': 1 connections
'Boise State': 1 connections
'University of Dayton': 1 connections
'Georgia Institute of Technology': 1 connections
'University of Texas at Austin': 1 connections
'Nebraska-Lincoln': 1 connections
'Virginia Tech ': 1 connections
'Nevada-Reno': 1 connections
'Yale': 1 connections
'Virginia Tech': 1 connections
'                                   ': 1 connections
'TCU': 1 connections
'Dayton': 1 connections
'Loyola-Maryland': 1 connections
'Wisconsin-Milwaukee': 1 connections

In [256]:
def calculate_sorted_average_composite_score(adjacency_list):
    # Dictionary to store the average composite score for each college
    college_averages = {}

    # Iterate through the adjacency list
    for college, players in adjacency_list.items():
        # Initialize a sum of composite scores and player count
        composite_score_sum = 0
        player_count = 0

        # Iterate over each player's data in the list for the college
        for _, _, _, composite_score in players:
            composite_score_sum += composite_score
            player_count += 1
        
        # Calculate the average composite score for the college
        if player_count > 0:
            average_score = composite_score_sum / player_count
        else:
            average_score = float('nan')  # Handle division by zero if no players

        # Store the calculated average in the dictionary
        college_averages[college] = average_score
    
    # Sort the dictionary by average composite score in descending order
    sorted_college_averages = sorted(college_averages.items(), key=lambda x: x[1], reverse=True)

    return sorted_college_averages

In [257]:
# Calculate and sort the average composite score for each college
sorted_average_scores = calculate_sorted_average_composite_score(adj_list)
sorted_average_scores

[('Davidson', 0.48798689709702625),
 ('Rhode Island', 0.45111757420779286),
 ('Morehead State', 0.3721018631055677),
 ('Rider', 0.37087344219936824),
 ('Weber State', 0.3668408307165245),
 ('Miami (OH)', 0.36641991083154163),
 ('Wake Forest', 0.34068621406572963),
 ('Pacific', 0.3386376404605629),
 ('Saint Louis', 0.3304748366629162),
 ('Utah', 0.3297691592955176),
 ('Eastern Washington', 0.3254857078853061),
 ('Santa Clara', 0.3186986931269049),
 ('Murray State', 0.3160915915034928),
 ('Louisiana Tech', 0.3159563086927864),
 ('Ball State', 0.3110478420783173),
 ('Louisiana-Lafayette', 0.3078819291542773),
 ('TCU', 0.30426851110701403),
 ('Memphis', 0.3023473662131766),
 ('Connecticut', 0.3009791799976441),
 ('Duke', 0.30095457762660555),
 ('South Dakota State', 0.29941422870762),
 ('St. Bonaventure', 0.296922994979252),
 ('Kentucky', 0.2948739786213563),
 ('North Dakota', 0.2940468763828574),
 ('Oklahoma', 0.2925701653461593),
 ('Texas', 0.2898211171063898),
 ('University of Texas at Austin', 0.28904385253437587),
 ('Central Michigan', 0.2889600327254731),
 ('Southern California', 0.287165661849046),
 ('Bowling Green', 0.2864485111498596),
 ('Villanova', 0.28627891701814434),
 ('Oklahoma State', 0.28575721479846133),
 ('University of California, Berkeley', 0.28479255730804653),
 ('North Carolina', 0.2832286825083198),
 ('                                   ', 0.28217034254409823),
 ("St. John's (NY)", 0.2808953730369822),
 ('Gonzaga', 0.280441742353613),
 ('Virginia Tech', 0.27770832548118907),
 ('Pittsburgh', 0.27707811167122415),
 ('La Salle', 0.27627939194305867),
 ('Ohio State', 0.276213589928916),
 ('Indiana Purdue-Indianapolis', 0.2740584804742809),
 ('Cleveland State', 0.27396753946640917),
 ('Detroit Mercy', 0.27259250896537024),
 ('Kansas State', 0.2724395691290996),
 ('Arizona State', 0.2724102029478368),
 ('Massachusetts', 0.27045907759601445),
 ('Georgetown', 0.2698170590421511),
 ('Nevada', 0.26902056891963),
 ('Hofstra', 0.26723806871600664),
 ('Washington', 0.26702148438240947),
 ('Florida', 0.2667820947073206),
 ('Georgia Tech', 0.2665242830055689),
 ('Oregon', 0.2664860132909913),
 ('Wright State', 0.2653749274236526),
 ('San Diego State', 0.2649022847531193),
 ('Xavier', 0.2645432203040176),
 ('Arizona', 0.26442318500402767),
 ('Kansas', 0.2634539391597778),
 ('North Carolina-Charlotte', 0.2632022676654126),
 ('Manhattan', 0.2630386457816775),
 ('Wichita State', 0.2623556844906174),
 ('Georgia', 0.26173449870954024),
 ('Alabama', 0.26158974349948566),
 ('Louisiana State', 0.2607758227388817),
 ('Iowa State', 0.2604969967658413),
 ('Clemson', 0.2602953627382958),
 ('Georgia Institute of Technology', 0.25980068444767007),
 ('Cincinnati', 0.259656728970947),
 ('Indiana', 0.2594487690140791),
 ('Austin Peay', 0.2592544773605998),
 ('Norfolk State', 0.25903821437067703),
 ('Michigan', 0.2587002145426515),
 ('Nevada-Reno', 0.25707095380641515),
 ('Virginia Commonwealth', 0.25669185803607136),
 ('Virginia Tech ', 0.25639806394744674),
 ('Stanford', 0.2563977558344875),
 ('San Jose State', 0.25587557215007334),
 ('North Carolina State', 0.25550199346318486),
 ('UCLA', 0.2554360961949615),
 ('Central State (OH)', 0.2549246729183285),
 ("Saint Joseph's", 0.254525315899726),
 ("Saint Mary's (CA)", 0.25428387735332525),
 ('DePaul', 0.25252987128728915),
 ('Temple', 0.2519053928375376),
 ('Seton Hall', 0.2516122623460828),
 ('California', 0.25075942243873517),
 ('Baylor', 0.24859586930493346),
 ('Illinois', 0.24810020419952006),
 ('Western Kentucky', 0.24742662166748855),
 ('Boston College', 0.24734660518619522),
 ('Colorado', 0.2471945738173682),
 ('Long Beach State', 0.24654254210399476),
 ('New Mexico', 0.24614143750982206),
 ('Syracuse', 0.24560050461296443),
 ('Washington State', 0.24543953873281213),
 ('Auburn', 0.24516520821096988),
 ('Arkansas-Little Rock', 0.2448549182186109),
 ('Maryland', 0.24449440269394815),
 ('Arkansas', 0.24433659932681392),
 ('College of Charleston', 0.24415076542921757),
 ('Minnesota', 0.24352887056883746),
 ('Boise State', 0.2430268430597126),
 ('Florida State', 0.242915003208579),
 ('Northern Illinois', 0.24204353729142583),
 ('Cal State-Bakersfield', 0.24078400260928237),
 ('Nevada-Las Vegas', 0.24060151949111894),
 ('Michigan State', 0.24017079815540673),
 ('Missouri', 0.24011522946119368),
 ('Providence', 0.2400216597312927),
 ('Iowa', 0.2398604811762676),
 ('Louisville', 0.23963042607525534),
 ('Colorado State', 0.23946103663255688),
 ('Lehigh', 0.23929448397054584),
 ('Butler', 0.23855205710002658),
 ('Texas-Austin', 0.2380637282045824),
 ('Texas Tech', 0.23738235237817545),
 ('Purdue', 0.23722237695306564),
 ('Vanderbilt', 0.23714250949853177),
 ('Florida A&M', 0.2370913170336868),
 ('Virginia', 0.2370763167313835),
 ('Wisconsin-Milwaukee', 0.23668322799154975),
 ('California-Santa Barbara', 0.23544364720218525),
 ('Dayton', 0.23434400243385753),
 ('USC', 0.23379633126953586),
 ('Nebraska', 0.23359631077547574),
 ('Marquette', 0.23170135515624427),
 ('Augsburg', 0.2308381825552314),
 ('Notre Dame', 0.23003718164914289),
 ('Loyola-Maryland', 0.2297848856055528),
 ('Bucknell', 0.22884722967204305),
 ('Drexel', 0.2284756995728485),
 ('Houston', 0.2284038318965138),
 ('Fresno State', 0.2283132287812267),
 ('Wyoming', 0.22746597629116294),
 ('Ohio', 0.22558584017693162),
 ('Miami (FL)', 0.22546091518461117),
 ('West Virginia', 0.22519096047837742),
 ('Oregon State', 0.2251091075363416),
 ('Brigham Young', 0.2238265313494335),
 ('Tennessee', 0.22356237156010128),
 ('Tennessee-Martin', 0.2230636758333854),
 ('Tulane', 0.22234830464796457),
 ('Shaw', 0.2223457422624657),
 ('Valparaiso', 0.22221764145371753),
 ('Northwestern', 0.222131299035224),
 ('Penn State', 0.22157597897602996),
 ('New Mexico State', 0.22148075785269802),
 ('Miami', 0.22013167186653615),
 ('South Carolina', 0.21833609181576166),
 ('Texas A&M', 0.21719473101065465),
 ('Texas State', 0.21669415609972395),
 ('Barton Community College', 0.21469855675052685),
 ('Creighton', 0.21366180817871086),
 ('Tennessee-Chattanooga', 0.21260003584918122),
 ('Mississippi', 0.21210098803773966),
 ('Wisconsin', 0.21182315216262756),
 ('South Florida', 0.21110193813758746),
 ('Utah State', 0.2090059878717312),
 ('Colgate', 0.20840411036126869),
 ('Mississippi State', 0.2067173017785452),
 ('Southeastern Illinois', 0.20659263879818343),
 ('Northeast Mississippi Community College', 0.2032643481487232),
 ('Northern Arizona', 0.20206544596631804),
 ('Pepperdine', 0.20097504905920538),
 ('Texas-El Paso', 0.1995154038495626),
 ('Yale', 0.19941840473899475),
 ('Western Carolina', 0.19851540025724512),
 ('University of Dayton', 0.19697719993307658),
 ('Tulsa', 0.19471719991513206),
 ('West Florida', 0.19256565392560146),
 ('Southern Methodist', 0.19253109113245392),
 ('Le Moyne', 0.1924515115409544),
 ('Central Florida', 0.19109280947198337),
 ('Bradley', 0.190783577236661),
 ('Alabama-Birmingham', 0.19058977228293908),
 ('Old Dominion', 0.18974622551850354),
 ('Toledo', 0.18811417893454274),
 ('Louisiana-Monroe', 0.1878312061552063),
 ('Walsh', 0.1876351297283265),
 ('Georgia State', 0.18278423410790368),
 ('Cal State-Fullerton', 0.18063814040015738),
 ('Northwest Florida State', 0.1802325562517321),
 ('North Texas', 0.17401546333524545),
 ('Yonsei (KOR)', 0.1726723587814585),
 ('UNLV', 0.17156836862052285),
 ('Rice', 0.1706571883283937),
 ('Rutgers', 0.16915580420520426),
 ('Richmond', 0.1656138223375209),
 ('Tennessee Tech', 0.1645688249622736),
 ('Oakland', 0.15359525554160697),
 ('Missouri State', 0.12986059381431442),
 ('Midland', 0.0999027660992861),
 ('Marshall', 0.09868956673101908),
 ('Nebraska-Lincoln', 0.04022380160290337),
 ('University of Colorado Boulder', 0.014005602240896357)]

In [258]:
def top_three_colleges_by_team(adjacency_list, target_team):
    # Dictionary to store the count of players drafted from each college by the target team
    college_counts = defaultdict(int)

    # Iterate through the adjacency list
    for college, players in adjacency_list.items():
        # Iterate through each player's data
        for team, player, year, composite_score in players:
            # If the team matches the target_team, increment the count for this college
            if team == target_team:
                college_counts[college] += 1

    # Sort the colleges by the number of players drafted by the target team in descending order
    sorted_colleges = sorted(college_counts.items(), key=lambda x: x[1], reverse=True)

    # Return the top three colleges or fewer if less than three exist
    top_three_colleges = sorted_colleges

    return top_three_colleges

In [259]:
target_team = input("Enter NBA three letter team code: ")
top_colleges = top_three_colleges_by_team(adj_list, target_team)

# Print out the results
for college, count in top_colleges:
    print(f"{college}: {count}")

Georgetown: 3
Kentucky: 2
Villanova: 2
Kansas: 2
UCLA: 2
Purdue: 2
Syracuse: 1
Michigan State: 1
Georgia: 1
Louisville: 1
Tennessee: 1
Connecticut: 1
Memphis: 1
Arizona: 1
Marquette: 1
Michigan: 1
Iowa State: 1
Cincinnati: 1
Colorado: 1
Duke: 1
Iowa: 1
Florida: 1
Washington: 1
Creighton: 1
Missouri: 1
Oklahoma State: 1
Vanderbilt: 1
North Carolina-Charlotte: 1
Pepperdine: 1
Gonzaga: 1
Texas A&M: 1
Eastern Washington: 1
Alabama-Birmingham: 1
North Texas: 1
Miami: 1