In [30]:
import pandas as pd
import csv
from collections import defaultdict
from sklearn.preprocessing import MinMaxScaler
import networkx as nx

In [31]:
nba = pd.read_csv("all_seasons.csv")

In [32]:
# Clean year to only have rookie data
# Extract the first four characters of the 'season' column, convert to integer
nba['season_year'] = nba['season'].str[:4].astype(int)

# Replace "undrafted" with 0 in the 'draft_year' column
nba['draft_year'] = nba['draft_year'].replace('Undrafted', 0)
nba['draft_year'] = nba['draft_year'].astype(int)

In [33]:
# Filter the DataFrame
rookies = nba[nba['draft_year'] == nba['season_year']]
rookies

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season,season_year
0,0,Randy Livingston,HOU,22.0,193.04,94.800728,Louisiana State,USA,1996,2,...,1.5,2.4,0.3,0.042,0.071,0.169,0.487,0.248,1996-97,1996
38,38,Erick Dampier,IND,21.0,210.82,120.201880,Mississippi State,USA,1996,1,...,4.1,0.6,-2.0,0.107,0.216,0.218,0.451,0.074,1996-97,1996
50,50,Jerome Williams,DET,24.0,205.74,93.439952,Georgetown,USA,1996,1,...,1.5,0.2,3.0,0.144,0.182,0.181,0.419,0.071,1996-97,1996
67,67,John Wallace,NYK,23.0,205.74,102.058200,Syracuse,USA,1996,1,...,2.3,0.5,2.7,0.080,0.148,0.204,0.571,0.081,1996-97,1996
72,72,Jermaine O'Neal,POR,18.0,210.82,102.511792,NaN,USA,1996,1,...,2.8,0.2,1.3,0.099,0.198,0.199,0.494,0.030,1996-97,1996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12793,12793,Jake LaRavia,MEM,21.0,200.66,106.594120,Wake Forest,USA,2022,1,...,1.8,0.6,-7.6,0.044,0.100,0.117,0.531,0.068,2022-23,2022
12814,12814,Josh Minott,MIN,20.0,203.20,92.986360,Memphis,USA,2022,2,...,1.7,0.3,10.4,0.054,0.194,0.176,0.582,0.065,2022-23,2022
12819,12819,Johnny Davis,WAS,21.0,193.04,88.450440,Wisconsin,USA,2022,1,...,2.3,1.0,-6.2,0.020,0.125,0.192,0.446,0.100,2022-23,2022
12824,12824,Jaylin Williams,OKC,21.0,205.74,108.862080,Arkansas,USA,2022,2,...,4.9,1.6,-4.6,0.045,0.230,0.133,0.559,0.109,2022-23,2022
12832,12832,Jeremy Sochan,SAS,20.0,203.20,104.326160,Baylor,Poland,2022,1,...,5.3,2.5,-7.0,0.060,0.140,0.195,0.509,0.132,2022-23,2022

In [34]:
rookies.to_csv("rookies.csv")

In [35]:
rookies = rookies.dropna()
rookies.isna().sum()

Unnamed: 0           0
player_name          0
team_abbreviation    0
age                  0
player_height        0
player_weight        0
college              0
country              0
draft_year           0
draft_round          0
draft_number         0
gp                   0
pts                  0
reb                  0
ast                  0
net_rating           0
oreb_pct             0
dreb_pct             0
usg_pct              0
ts_pct               0
ast_pct              0
season               0
season_year          0
dtype: int64

In [36]:
def create_network_with_players_and_points(data):
    # Create a dictionary to store the adjacency list
    adjacency_list = defaultdict(list)

    # Iterate over each row in the data
    for index, row in data.iterrows():
        college = row['college']
        team = row['team_abbreviation']
        player_name = row['player_name']
        draft_year = row['draft_year']
        score = row["composite_performance_score"]

        # Append the tuple (team, player_name, player_points) to the college's list
        adjacency_list[college].append((team, player_name, draft_year, score))

    return adjacency_list

In [37]:
# Select only the columns to normalize
numeric_cols = ["pts", "reb", "ast", "net_rating", "ts_pct", "usg_pct"]
scaler = MinMaxScaler()

# Normalize the selected columns
normalized_vals = scaler.fit_transform(rookies[numeric_cols])
normalized_df = pd.DataFrame(normalized_vals, columns=numeric_cols)

# Create a composite score by averaging the normalized values
rookies['composite_performance_score'] = normalized_df.mean(axis=1)

/var/folders/n9/9l6xl7jx0zn2y18m67sjcpk40000gn/T/ipykernel_13007/895898394.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rookies['composite_performance_score'] = normalized_df.mean(axis=1)

In [38]:
adj_list = create_network_with_players_and_points(rookies)

In [39]:
with open('adj_list.csv', 'w') as csv_file:
    writer = csv.writer(csv_file)
    for key, value in adj_list.items():
       writer.writerow([key, value])

In [40]:
def get_all_nodes_with_connections(adjacency_list):
    # Create a dictionary to count connections for colleges only
    college_connection_counts = defaultdict(int)

    # Iterate over each college in the adjacency list
    for college, connections in adjacency_list.items():
        # Count each player connection for the college
        college_connection_counts[college] += len(connections)

    # Sort the colleges by the number of connections in descending order
    sorted_college_connections = sorted(college_connection_counts.items(), key=lambda x: x[1], reverse=True)

    return sorted_college_connections

In [41]:
# Get the list of all nodes with their connections
sorted_nodes_with_connections = get_all_nodes_with_connections(adj_list)
for node, count in sorted_nodes_with_connections:
    print(f"'{node}': {count} connections")

'Kentucky': 54 connections
'Duke': 47 connections
'Arizona': 34 connections
'UCLA': 33 connections
'Kansas': 32 connections
'North Carolina': 31 connections
'Syracuse': 22 connections
'Connecticut': 21 connections
'Michigan State': 19 connections
'Michigan': 19 connections
'Maryland': 19 connections
'Villanova': 18 connections
'Washington': 18 connections
'Florida State': 17 connections
'Texas': 17 connections
'Louisville': 16 connections
'Florida': 16 connections
'Louisiana State': 15 connections
'Memphis': 15 connections
'Stanford': 15 connections
'Indiana': 14 connections
'Gonzaga': 14 connections
'Georgia Tech': 13 connections
'Southern California': 13 connections
'Oregon': 13 connections
'Tennessee': 12 connections
'Iowa State': 12 connections
'Georgetown': 11 connections
'Baylor': 11 connections
'Alabama': 10 connections
'Marquette': 10 connections
'Ohio State': 10 connections
'Vanderbilt': 10 connections
'Virginia': 10 connections
'California': 9 connections
'Cincinnati': 9 connections
'Purdue': 9 connections
'Illinois': 9 connections
'Georgia': 8 connections
'Utah': 8 connections
'Wake Forest': 8 connections
'Colorado': 8 connections
'Notre Dame': 8 connections
'Auburn': 8 connections
'Oklahoma State': 8 connections
'Arkansas': 8 connections
'Texas Tech': 7 connections
'North Carolina State': 7 connections
'Providence': 7 connections
'Minnesota': 7 connections
'Fresno State': 7 connections
'Nevada': 7 connections
'Mississippi State': 6 connections
'New Mexico': 6 connections
'Nevada-Las Vegas': 6 connections
'Pittsburgh': 6 connections
'Xavier': 6 connections
'Missouri': 6 connections
'Arizona State': 6 connections
'Boston College': 6 connections
'Wisconsin': 6 connections
'St. John's (NY)': 5 connections
'Iowa': 5 connections
'Creighton': 5 connections
'Oklahoma': 5 connections
'DePaul': 5 connections
'Texas A&M': 5 connections
'Western Kentucky': 4 connections
'Murray State': 4 connections
'Washington State': 4 connections
'College of Charleston': 4 connections
'Miami (FL)': 4 connections
'Seton Hall': 4 connections
'Southern Methodist': 4 connections
'West Virginia': 4 connections
'Virginia Commonwealth': 4 connections
'San Diego State': 4 connections
'Miami': 4 connections
'Texas-Austin': 4 connections
'Massachusetts': 3 connections
'Rhode Island': 3 connections
'South Carolina': 3 connections
'Nebraska': 3 connections
'Clemson': 3 connections
'Pepperdine': 3 connections
'Houston': 3 connections
'Brigham Young': 3 connections
'Saint Joseph's': 3 connections
'Kansas State': 3 connections
'Santa Clara': 2 connections
'Bradley': 2 connections
'Bowling Green': 2 connections
'Austin Peay': 2 connections
'Tulane': 2 connections
'Oregon State': 2 connections
'Valparaiso': 2 connections
'Toledo': 2 connections
'Marshall': 2 connections
'Detroit Mercy': 2 connections
'Central Florida': 2 connections
'Louisiana-Lafayette': 2 connections
'Rutgers': 2 connections
'South Florida': 2 connections
'Temple': 2 connections
'Colorado State': 2 connections
'Butler': 2 connections
'Hofstra': 2 connections
'Weber State': 2 connections
'Wichita State': 2 connections
'Wyoming': 2 connections
'USC': 2 connections
'Utah State': 2 connections
'Arkansas-Little Rock': 1 connections
'Wright State': 1 connections
'Drexel': 1 connections
'Central State (OH)': 1 connections
'West Florida': 1 connections
'San Jose State': 1 connections
'Colgate': 1 connections
'Cal State-Bakersfield': 1 connections
'Long Beach State': 1 connections
'Tennessee-Chattanooga': 1 connections
'Ball State': 1 connections
'Florida A&M': 1 connections
'Pacific': 1 connections
'Saint Louis': 1 connections
'Tulsa': 1 connections
'Texas State': 1 connections
'Miami (OH)': 1 connections
'Penn State': 1 connections
'Old Dominion': 1 connections
'Barton Community College': 1 connections
'Northwestern': 1 connections
'Augsburg': 1 connections
'Louisiana-Monroe': 1 connections
'Northern Arizona': 1 connections
'North Carolina-Charlotte': 1 connections
'Northwest Florida State': 1 connections
'La Salle': 1 connections
'Northeast Mississippi Community College': 1 connections
'Shaw': 1 connections
'Central Michigan': 1 connections
'Ohio': 1 connections
'North Dakota': 1 connections
'Cal State-Fullerton': 1 connections
'Western Carolina': 1 connections
'Manhattan': 1 connections
'Mississippi': 1 connections
'Southeastern Illinois': 1 connections
'Yonsei (KOR)': 1 connections
'Walsh': 1 connections
'Louisiana Tech': 1 connections
'Eastern Washington': 1 connections
'Rice': 1 connections
'Rider': 1 connections
'Indiana Purdue-Indianapolis': 1 connections
'Alabama-Birmingham': 1 connections
'Midland': 1 connections
'Saint Mary's (CA)': 1 connections
'Davidson': 1 connections
'Tennessee-Martin': 1 connections
'Le Moyne': 1 connections
'Texas-El Paso': 1 connections
'Richmond': 1 connections
'Morehead State': 1 connections
'Oakland': 1 connections
'Northern Illinois': 1 connections
'Cleveland State': 1 connections
'St. Bonaventure': 1 connections
'California-Santa Barbara': 1 connections
'Tennessee Tech': 1 connections
'Norfolk State': 1 connections
'Lehigh': 1 connections
'North Texas': 1 connections
'South Dakota State': 1 connections
'Bucknell': 1 connections
'UNLV': 1 connections
'Georgia State': 1 connections
'New Mexico State': 1 connections
'University of California, Berkeley': 1 connections
'University of Colorado Boulder': 1 connections
'Missouri State': 1 connections
'Boise State': 1 connections
'University of Dayton': 1 connections
'Georgia Institute of Technology': 1 connections
'University of Texas at Austin': 1 connections
'Nebraska-Lincoln': 1 connections
'Virginia Tech ': 1 connections
'Nevada-Reno': 1 connections
'Yale': 1 connections
'Virginia Tech': 1 connections
'                                   ': 1 connections
'TCU': 1 connections
'Dayton': 1 connections
'Loyola-Maryland': 1 connections
'Wisconsin-Milwaukee': 1 connections

In [42]:
rookies

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season,season_year,composite_performance_score
0,0,Randy Livingston,HOU,22.0,193.04,94.800728,Louisiana State,USA,1996,2,...,2.4,0.3,0.042,0.071,0.169,0.487,0.248,1996-97,1996,0.363602
38,38,Erick Dampier,IND,21.0,210.82,120.201880,Mississippi State,USA,1996,1,...,0.6,-2.0,0.107,0.216,0.218,0.451,0.074,1996-97,1996,0.337277
50,50,Jerome Williams,DET,24.0,205.74,93.439952,Georgetown,USA,1996,1,...,0.2,3.0,0.144,0.182,0.181,0.419,0.071,1996-97,1996,0.416548
67,67,John Wallace,NYK,23.0,205.74,102.058200,Syracuse,USA,1996,1,...,0.5,2.7,0.080,0.148,0.204,0.571,0.081,1996-97,1996,0.356421
73,73,Jeff McInnis,DEN,22.0,193.04,86.182480,North Carolina,USA,1996,2,...,1.4,-17.8,0.021,0.040,0.259,0.609,0.327,1996-97,1996,0.486637
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12793,12793,Jake LaRavia,MEM,21.0,200.66,106.594120,Wake Forest,USA,2022,1,...,0.6,-7.6,0.044,0.100,0.117,0.531,0.068,2022-23,2022,NaN
12814,12814,Josh Minott,MIN,20.0,203.20,92.986360,Memphis,USA,2022,2,...,0.3,10.4,0.054,0.194,0.176,0.582,0.065,2022-23,2022,NaN
12819,12819,Johnny Davis,WAS,21.0,193.04,88.450440,Wisconsin,USA,2022,1,...,1.0,-6.2,0.020,0.125,0.192,0.446,0.100,2022-23,2022,NaN
12824,12824,Jaylin Williams,OKC,21.0,205.74,108.862080,Arkansas,USA,2022,2,...,1.6,-4.6,0.045,0.230,0.133,0.559,0.109,2022-23,2022,NaN
12832,12832,Jeremy Sochan,SAS,20.0,203.20,104.326160,Baylor,Poland,2022,1,...,2.5,-7.0,0.060,0.140,0.195,0.509,0.132,2022-23,2022,NaN

In [43]:
# # Create a directed graph
# G = nx.DiGraph()

# # Add edges to the graph
# for college, player_info in adj_list.items():
#     for team, player, pts in player_info:
#         G.add_edge(college, team, player=player, pts=pts)

# # Calculate out-degree for colleges (how many teams they supplied players to)
# college_out_degrees = {node: G.out_degree(node) for node in adj_list.keys()}

# # Calculate in-degree for NBA teams (how many colleges supplied their players)
# team_in_degrees = {node: G.in_degree(node) for node in G.nodes() if node not in adj_list.keys()}

# print("College Out-Degrees:")
# for college, degree in college_out_degrees.items():
#     print(f"{college}: {degree}")

In [44]:
# print("\nNBA Team In-Degrees:")
# for team, degree in team_in_degrees.items():
#     print(f"{team}: {degree}")