In [167]:
import pandas as pd
import csv
from collections import defaultdict
import networkx as nx

In [168]:
nba = pd.read_csv("all_seasons.csv")

In [169]:
# Clean year to only have rookie data
# Extract the first four characters of the 'season' column, convert to integer
nba['season_year'] = nba['season'].str[:4].astype(int)

# Replace "undrafted" with 0 in the 'draft_year' column
nba['draft_year'] = nba['draft_year'].replace('Undrafted', 0)
nba.to_csv("test.csv")
nba['draft_year'] = nba['draft_year'].astype(int)

In [170]:
# Filter the DataFrame
rookies = nba[nba['draft_year'] == nba['season_year']]
rookies

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season,season_year
0,0,Randy Livingston,HOU,22.0,193.04,94.800728,Louisiana State,USA,1996,2,...,1.5,2.4,0.3,0.042,0.071,0.169,0.487,0.248,1996-97,1996
38,38,Erick Dampier,IND,21.0,210.82,120.201880,Mississippi State,USA,1996,1,...,4.1,0.6,-2.0,0.107,0.216,0.218,0.451,0.074,1996-97,1996
50,50,Jerome Williams,DET,24.0,205.74,93.439952,Georgetown,USA,1996,1,...,1.5,0.2,3.0,0.144,0.182,0.181,0.419,0.071,1996-97,1996
67,67,John Wallace,NYK,23.0,205.74,102.058200,Syracuse,USA,1996,1,...,2.3,0.5,2.7,0.080,0.148,0.204,0.571,0.081,1996-97,1996
72,72,Jermaine O'Neal,POR,18.0,210.82,102.511792,NaN,USA,1996,1,...,2.8,0.2,1.3,0.099,0.198,0.199,0.494,0.030,1996-97,1996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12793,12793,Jake LaRavia,MEM,21.0,200.66,106.594120,Wake Forest,USA,2022,1,...,1.8,0.6,-7.6,0.044,0.100,0.117,0.531,0.068,2022-23,2022
12814,12814,Josh Minott,MIN,20.0,203.20,92.986360,Memphis,USA,2022,2,...,1.7,0.3,10.4,0.054,0.194,0.176,0.582,0.065,2022-23,2022
12819,12819,Johnny Davis,WAS,21.0,193.04,88.450440,Wisconsin,USA,2022,1,...,2.3,1.0,-6.2,0.020,0.125,0.192,0.446,0.100,2022-23,2022
12824,12824,Jaylin Williams,OKC,21.0,205.74,108.862080,Arkansas,USA,2022,2,...,4.9,1.6,-4.6,0.045,0.230,0.133,0.559,0.109,2022-23,2022
12832,12832,Jeremy Sochan,SAS,20.0,203.20,104.326160,Baylor,Poland,2022,1,...,5.3,2.5,-7.0,0.060,0.140,0.195,0.509,0.132,2022-23,2022

In [171]:
def create_network_with_players_and_points(data):
    # Create a dictionary to store the adjacency list
    adjacency_list = defaultdict(list)

    # Iterate over each row in the data
    for index, row in data.iterrows():
        college = row['college']
        team = row['team_abbreviation']
        player_name = row['player_name']
        draft_year = row['draft_year']

        # Append the tuple (team, player_name, player_points) to the college's list
        adjacency_list[college].append((team, player_name, draft_year))

    return adjacency_list

In [172]:
adj_list = create_network_with_players_and_points(rookies)

In [173]:
with open('adj_list.csv', 'w') as csv_file:
    writer = csv.writer(csv_file)
    for key, value in adj_list.items():
       writer.writerow([key, value])

In [174]:
# Create a directed graph
G = nx.DiGraph()

# Add edges to the graph
for college, player_info in adj_list.items():
    for team, player, pts in player_info:
        G.add_edge(college, team, player=player, pts=pts)

# Calculate out-degree for colleges (how many teams they supplied players to)
college_out_degrees = {node: G.out_degree(node) for node in adj_list.keys()}

# Calculate in-degree for NBA teams (how many colleges supplied their players)
team_in_degrees = {node: G.in_degree(node) for node in G.nodes() if node not in adj_list.keys()}

print("College Out-Degrees:")
for college, degree in college_out_degrees.items():
    print(f"{college}: {degree}")

College Out-Degrees:
Louisiana State: 12
Mississippi State: 6
Georgetown: 8
Syracuse: 14
nan: 34
North Carolina: 19
Michigan State: 15
Texas Tech: 7
Western Kentucky: 4
Indiana: 11
Arkansas-Little Rock: 1
Georgia: 7
California: 7
Louisville: 13
Alabama: 9
Georgia Tech: 12
Tennessee: 9
Santa Clara: 2
Kentucky: 24
Wright State: 1
Connecticut: 14
North Carolina State: 7
Memphis: 14
Drexel: 1
Murray State: 4
Massachusetts: 3
Villanova: 15
Washington State: 4
Central State (OH): 1
Arizona: 22
West Florida: 1
Marquette: 9
Michigan: 14
Iowa State: 10
Utah: 7
Wake Forest: 7
Maryland: 11
Kansas: 20
Southern California: 10
San Jose State: 1
Colgate: 1
College of Charleston: 4
Bradley: 2
Bowling Green: 2
Cincinnati: 8
Providence: 6
Colorado: 8
New Mexico: 5
UCLA: 22
Stanford: 11
Cal State-Bakersfield: 1
Austin Peay: 2
Minnesota: 6
Long Beach State: 1
Florida State: 12
Tennessee-Chattanooga: 1
Tulane: 2
Rhode Island: 3
St. John's (NY): 5
Oregon State: 2
Ball State: 1
Baylor: 11
Valparaiso: 2
Toledo: 2
Duke: 24
South Carolina: 3
Notre Dame: 8
Iowa: 5
Nebraska: 3
Nevada-Las Vegas: 6
Florida: 14
Florida A&M: 1
Pacific: 1
Saint Louis: 1
Tulsa: 1
Washington: 12
Miami (FL): 4
Texas State: 1
Miami (OH): 1
Pittsburgh: 5
Creighton: 5
Penn State: 1
Old Dominion: 1
Fresno State: 6
Barton Community College: 1
Northwestern: 1
Xavier: 6
Augsburg: 1
Ohio State: 10
Louisiana-Monroe: 1
Missouri: 5
Auburn: 8
Purdue: 5
Texas: 15
Oklahoma State: 7
Oklahoma: 5
Arizona State: 6
Vanderbilt: 9
Northern Arizona: 1
DePaul: 5
North Carolina-Charlotte: 1
Clemson: 3
Seton Hall: 4
Northwest Florida State: 1
Arkansas: 7
Southern Methodist: 4
Pepperdine: 3
Houston: 2
La Salle: 1
Illinois: 8
Virginia: 9
Northeast Mississippi Community College: 1
Marshall: 2
Gonzaga: 12
Oregon: 11
Shaw: 1
Central Michigan: 1
Ohio: 1
North Dakota: 1
Detroit Mercy: 2
Boston College: 6
Brigham Young: 3
Central Florida: 2
Cal State-Fullerton: 1
Nevada: 6
Western Carolina: 1
Manhattan: 1
Mississippi: 1
Saint Joseph's: 3
Wisconsin: 6
Southeastern Illinois: 1
Yonsei (KOR): 1
Walsh: 1
Louisiana-Lafayette: 2
Texas A&M: 5
Rutgers: 2
Louisiana Tech: 1
South Florida: 2
Temple: 2
Colorado State: 2
Eastern Washington: 1
Rice: 1
West Virginia: 4
Rider: 1
Kansas State: 3
Indiana Purdue-Indianapolis: 1
Alabama-Birmingham: 1
Midland: 1
Saint Mary's (CA): 1
Davidson: 1
Virginia Commonwealth: 4
Tennessee-Martin: 1
Butler: 2
Le Moyne: 1
Texas-El Paso: 1
Richmond: 1
San Diego State: 4
Morehead State: 1
Oakland: 1
Northern Illinois: 1
Hofstra: 2
Cleveland State: 1
St. Bonaventure: 1
Weber State: 2
California-Santa Barbara: 1
Tennessee Tech: 1
Norfolk State: 1
Lehigh: 1
North Texas: 1
South Dakota State: 1
Bucknell: 1
Wichita State: 2
UNLV: 1
Georgia State: 1
Wyoming: 2
New Mexico State: 1
Miami: 4
University of California, Berkeley: 1
University of Colorado Boulder: 1
Missouri State: 1
Boise State: 1
USC: 2
University of Dayton: 1
Georgia Institute of Technology: 1
University of Texas at Austin: 1
Texas-Austin: 4
Nebraska-Lincoln: 1
Virginia Tech : 1
Nevada-Reno: 1
Yale: 1
Virginia Tech: 1
                                   : 1
TCU: 1
Utah State: 2
Dayton: 1
Loyola-Maryland: 1
Wisconsin-Milwaukee: 1

In [175]:
print("\nNBA Team In-Degrees:")
for team, degree in team_in_degrees.items():
    print(f"{team}: {degree}")

NBA Team In-Degrees:
HOU: 28
SAC: 32
VAN: 10
NOK: 5
CHI: 32
BOS: 35
GSW: 31
NOH: 10
MIL: 27
MEM: 41
ATL: 33
BKN: 15
IND: 28
PHI: 38
SAS: 24
DET: 36
WAS: 30
POR: 33
NYK: 24
SEA: 8
DEN: 30
MIN: 25
CLE: 26
UTA: 30
LAL: 28
DAL: 23
PHX: 25
TOR: 32
LAC: 33
NJN: 19
ORL: 33
MIA: 19
CHA: 26
OKC: 23
NOP: 7
CHH: 5